{
    //"plugins": ["transform-runtime"],
    "comments": false,
    "presets": [
        ["env", {
            "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
            },
            "loose": true,
            "modules": false
        }], ["stage-0"]
    ]
}
