{
    "plugins": ["transform-runtime"],
    "presets": [
        ["env", {
            "targets": {
            "browsers": "last 2 versions"
            },
            "loose": true
        }], ["stage-0"]
    ]
}
