{
    "comments": false,
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 5%",
                        "last 2 versions",
                        "ie >= 10"
                    ]
                },
                "modules": false,
                "useBuiltIns": "entry"
            }
        ],
        ["stage-0"]
    ]
}
