{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": [
        "standard",
        "prettier",
        "plugin:vue/recommended"
    ],
    "plugins": [
        "prettier",
        "html",
        "json"
    ],
    "rules": {
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    }
}