$mdc-theme-primary: #5e35b1;
$mdc-theme-secondary: #ff5722;
$mdc-theme-background: #ffffff;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "../../components/theme/styles";
@import "../../components/typography/styles";
@import "../../components/layout-grid/styles";

@import "../../components/button/styles";
@import "../../components/radio/styles";
@import "../../components/checkbox/styles";
@import "../../components/form-field/styles";
@import "../../components/select/styles";
@import "../../components/card/styles";
@import "../../components/chips/styles";
@import "../../components/text-field/styles";
@import "../../components/floating-label/styles";
@import "../../components/line-ripple/styles";
@import "../../components/notched-outline/styles";
@import "../../components/fab/styles";
@import "../../components/icon-button/styles";
@import "../../components/list/styles";
@import "../../components/menu/styles";
@import "../../components/image-list/styles";

/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500"); */
/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); */

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('./public/assets/fonts/roboto-300.woff2') format('woff2'),
       url('./public/assets/fonts/roboto-300.woff') format('woff');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('./public/assets/fonts/roboto-regular.woff2') format('woff2'),
       url('./public/assets/fonts/roboto-regular.woff') format('woff');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('./public/assets/fonts/roboto-500.woff2') format('woff2'),
       url('./public/assets/fonts/roboto-500.woff') format('woff');
     }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
       url('./public/assets/fonts/materialicons-regular.woff2') format('woff2'),
       url('./public/assets/fonts/materialicons-regular.woff') format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.custom-page-class {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
  }
}
